/* FK Grotesk Neue - Complete Family */

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("/fonts/FKGroteskNeue-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
}

/* FK Grotesk - Complete Family for Headings */

@font-face {
    font-family: "FK Grotesk";
    src: url("/fonts/FKGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk";
    src: url("/fonts/FKGrotesk-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "FK Grotesk";
    src: url("/fonts/FKGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk";
    src: url("/fonts/FKGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "FK Grotesk";
    src: url("/fonts/FKGrotesk-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}
